{% extends 'base.html' %}
{% load static %}
        
<!--Contact Page SEO Data-->
<!--Contact Page Meta Title-->
{% block titles %}
{% for cntctseo in contactseo %}
{{cntctseo.title}}
{% endfor %}
{% endblock titles %}
<!--Contact Page Meta Title-->

<!--Contact Page Meta Descriptions-->
{% block meta_description %}
{% for cntctseo in contactseo %}
{{cntctseo.meta_description}}
{% endfor %}
{% endblock meta_description %}
<!--Contact Page Meta Descriptions-->

<!--Contact Page Meta Keywords-->
{% block meta_keyword %}
{% for cntctseo in contactseo %}
{{cntctseo.meta_keyword}}
{% endfor %}
{% endblock meta_keyword %}
<!--Contact Page Meta Keywords-->

{% block contactus %}
    
    <body>
        <main>
            <!--Breadcrumbs Area-->
            {% for contactslider in contactslider %}
            <header class="site-header site-contact-header" style="background-image: url('{{contactslider.image.url}}');">
                {% endfor %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-12 mx-auto">
                            <h1 class="text-white">Say Hi</h1>
                            <strong class="text-white">We are happy to get in touch with you</strong>
                        </div>
                    </div>
                </div>
                
                <div class="overlay"></div>
                
            </header>
          <!--Hidden Message Alert Area-->
            <section class="contact section-padding">
                <div class="container">
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    <strong>Congratulations !! &nbsp;</strong> {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                  {% endfor %}
                </div>

                <!--Send Message Area-->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-4">Leave a message</h2>
                        </div>

                        <div class="col-lg-6 col-12">
                            <form class="custom-form contact-form row" action="{% url 'contact' %}" method="post" role="form">
                                {% csrf_token %}
                                <div class="col-lg-6 col-6">
                                    <label for="contact-name" class="form-label">Full Name</label>

                                    <input type="text" name="name" id="contact-name" class="form-control" placeholder="Your Name" required="true">
                                </div>

                                <div class="col-lg-6 col-6">
                                    <label for="contact-phone" class="form-label">Phone Number</label>

                                    <input type="telephone" name="phone" id="contact-phone" class="form-control" placeholder="123-456-7890" required="true">
                                </div>

                                <div class="col-12">
                                    <label for="contact-email" class="form-label">Email</label>

                                    <input type="email" name="email" id="contact-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Your Email" required="true">

                                    <label for="contact-message" class="form-label">Message</label>

                                    <textarea class="form-control" rows="5" id="contact-message" name="message" placeholder="Your Message" required="true"></textarea>
                                </div>

                                <div class="col text-center">
                                    <button type="submit" class="form-control">Send</button>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-4 col-12 mx-auto mt-lg-5 mt-4">

                            <h5>Weekdays</h5>

                            <div class="d-flex mb-lg-3">
                                <p>Monday to Friday</p>

                                <p class="ms-5">10:00 AM - 08:00 PM</p>
                            </div>

                            <h5>Weekends</h5>

                            <div class="d-flex">
                                <p>Saturday and Sunday</p>

                                <p class="ms-5">11:00 AM - 11:00 PM</p>
                            </div>
                        </div>

                        <div class="col-12">
                            <h4 class="mt-5 mb-4">{{settings.address}}</h4>

                            <div class="google-map pt-3">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14920.891757756479!2d-73.83496372506556!3d40.8623107607295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28cbc17f4a0c3%3A0x9ae0f1e804a817d!2s121%20Einstein%20Loop%20N%2C%20Bronx%2C%20NY%2010475%2C%20USA!5e0!3m2!1sen!2sth!4v1650470337727!5m2!1sen!2sth" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>
        {% endblock %}